body {
  margin: 3%;
  font-family: Ubuntu;
}

.app_header {
  margin-bottom: 2%;
  text-align: left;
  font-size: 48px;
}

.app_descr1 {
  text-align: left;
  font-size: 24dp;
  /*margin-bottom: 5%;*/
}
.app_descr2 {
  text-align: left;
  font-size: 24dp;
  margin-bottom: 5%;
}

.plot_div {
  height: 100%;
  width: 100%;
}